.countdown {
  display: none; /*NEED TO SET BACK TO NONE AGAIN FOR APP LATER*/
  position: relative;
}
.__reset {
  position: absolute;
  right: 50px;
  top: 32px;
}
.__title {
  margin: auto;
  padding: 8.75rem 0 3.475rem 0;
  width: 16.25rem;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.4rem;
  color: $white;

  @include breakpoint-up(medium) {
    width: 30rem;
    font-size: 1.25rem;
  }
}

//Containers

.__cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 100px;
  margin: auto;

  @include breakpoint-up(medium) {
    width: 45rem;
    margin: auto;
  }
}

.counter__container {
  position: relative;
  width: 4.375rem;
  filter: drop-shadow(16px 16px 10px $darkestBlue);

  @include breakpoint-up(medium) {
    width: 6.5rem;
    height: 6.5rem;
  }
}

//Numbers and Text

.counter__card {
  position: absolute;
  width: 4.375rem;

  @include breakpoint-up(medium) {
    width: 6.5rem;
    height: 6.5rem;
  }
}
.__text {
  text-transform: uppercase;
  font-family: "Red Hat Text", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.4375rem;
  color: $grayishBlue;
  text-align: center;
  padding-top: 1rem;

  @include breakpoint-up(medium) {
    font-size: 0.875rem;
  }
}
.__time {
  font-size: 1.875rem;
  color: $softRed;
  text-align: center;
  margin: 1rem 0;

  @include breakpoint-up(medium) {
    font-size: 3.75rem;
  }
}

//Background

.__card-bg {
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  perspective: 23rem;
  background-color: $darkBlue;
  border-radius: 5px;

  @include breakpoint-up(medium) {
    width: 6.5rem;
    height: 6.5rem;
  }
}
.__top,
.__bottom {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 5px;
  position: absolute;

  @include breakpoint-up(medium) {
    width: 6.5rem;
    height: 6.5rem;
  }
}
.__top {
  top: 0;
}
.__bottom {
  bottom: 0;
}
.__flip-animation {
  animation: flippinCard;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  z-index: 1;
  background-color: $darkBlue;
  opacity: 0.65;
}
.__division {
  position: absolute;
  width: 4.375rem;
  height: 1px;
  top: 50%;
  background-color: black;
  opacity: 0.65;
  z-index: 2;

  @include breakpoint-up(medium) {
    width: 6.5rem;
  }
}
@keyframes flippinCard {
  0% {
    transform: rotate3d(-1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(-1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(-1, 0, 0, 180deg);
  }
}
