.countdown {
  display: none; /*NEED TO SET BACK TO NONE AGAIN FOR APP LATER*/
  position: relative;
}
.__reset {
  position: absolute;
  right: 50px;
  top: 32px;
}
.__title {
  margin: auto;
  padding: 8.75rem 0 3.475rem 0;
  width: 16.25rem;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.4rem;
  color: $white;

  @include breakpoint-up(medium) {
    width: 30rem;
    font-size: 1.25rem;
  }
}
.__cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include breakpoint-up(medium) {
    width: 45rem;
    margin: auto;
  }
}
.__text {
  text-transform: uppercase;
  font-family: "Red Hat Text", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.4375rem;
  color: $grayishBlue;

  @include breakpoint-up(medium) {
    font-size: 0.875rem;
  }
}
.__time {
  font-size: 1.875rem;
  color: $softRed;
  text-align: center;

  @include breakpoint-up(medium) {
    font-size: 3.75rem;
  }
}
