footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-image: url(../images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.media-wrapper {
  display: flex;
  flex-direction: row;
  margin: 2.8rem;
  justify-content: center;
}
.__media-link {
  margin: 0 1rem;

  svg path {
    transition: fill 200ms ease-in-out;
  }
  &:hover svg path {
    fill: $softRed;
  }
}
