html {
  box-sizing: initial;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  background-color: $darkerBlue;
  background-image: url(../images/bg-stars.svg),
    url(../images/pattern-hills.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 300%, 300%;
  background-position: 40% -35%, 82% 100%;
}
h1 {
  color: $white;
}
